<header>
    <div class = "stars">
        <nav>
            <a class = "navRef" asp-route="login">ввійти</a>
        </nav>
        <div class = "mainLogo">
            <h1 class = "talkerLogo">Talker</h1>
            <h4 class = "logoDescription">все знову зламалось</h4>
            <a class = "btn regBtn" href="register.html">зареєструватися</a>
        </div>
    </div>
</header>
