<header>
    <div class="container">
        <div class="logButtonWrap">
            <a class = "tButton log">Войти</a>
        </div>
        <div class="logo">
            <h1 class = "mainLogo">Talker</h1>
        </div>
        <div class="title">
            <h3 class = "mainTitle">всё окончательно сломалось</h3>
        </div>
        <div class="regButtonWrap">
            <a class = "tButton" href="#">Заргеистрироваться</a>
        </div>
    </div>
</header>
